Pyhton Developer Task_1

In [12]:
# Creating a Variables
Name='Bob'
Age=21
Salary=100.45
print(Name)
print(Age)
print(Salary)

Bob
21
100.45

In [24]:
#Assigning Multiple variable
a=b=c=30
print('a =',a)
print('b =',b)
print('c =',c)
print(a+b)

a = 30
b = 30
c = 30
60

In [23]:
# Concenation of strings 
a='Python'
b='Internship'
print(a +b)

PythonInternship

In [25]:
#Creating a Datatypes
X=10 #Numeric
Y=10.25 #float
A='Jom' #string
b=True #Boolean

In [26]:
#Numeric data type
a = 5
print("Type of a: ", type(a))
b = 5.0
print("\nType of b: ", type(b))
c = 2 + 4j
print("\nType of c: ", type(c))

Type of a:  <class 'int'>

Type of b:  <class 'float'>

Type of c:  <class 'complex'>

In [43]:
#Arthmetic Operations
print(a+b) 
print(a-b)
print(a*b)
print(a/b)

10.0
0.0
25.0
1.0

In [32]:
# String Data type 
String1 = 'Welcome to the Geeks World'
print("String with the use of Single Quotes: ")
print(String1)
String2 = "I'm a Geek"
print("\nString with the use of Double Quotes: ")
print(String2)
print(type(String1))
#Accessing the elements from string 
String1[5:10]
String2[2]

String with the use of Single Quotes:
Welcome to the Geeks World

String with the use of Double Quotes:
I'm a Geek
<class 'str'>

'm'

In [38]:
#Boolean Data Type 
A=True
print(A)
B=False
print(B)
print(type(A))
print(type(B))

True
False
<class 'bool'>
<class 'bool'>

In [50]:
#Python Lists
var=['Jupyter','Notebook']
print(var)
#access the elements 
print(var[0])
List = [10, 20, 14]
print("\nList of numbers: ")
print(List)
List[2]

['Jupyter', 'Notebook']
Jupyter

List of numbers:
[10, 20, 14]

14

In [63]:
#Mixed List
List = [1, 2, 'Tom', 4, 'And', 6, 'Jerry']
print("\nList with the use of Mixed Values: ")
print(List)
#access the elements
print(List[2])
print(List[5])
print(List[-4])
#length of the List
print("The length of list is ",len(List))
#Adding new element to the list
List[2]='Bob'
print(List)
List[5]=100
print(List)

List with the use of Mixed Values:
[1, 2, 'Tom', 4, 'And', 6, 'Jerry']
Tom
6
4
The length of list is  7
[1, 2, 'Bob', 4, 'And', 6, 'Jerry']
[1, 2, 'Bob', 4, 'And', 100, 'Jerry']

In [70]:
#Tuples
Tuple1 = ('Tom', 'Jerry')
print("\nTuple with the use of String: ")
print(Tuple1)
Tuple1[0]
# with the use of built-in function
Tuple1 = tuple('Akash')
print("\nTuple with the use of function: ")
print(Tuple1)

Tuple with the use of String:
('Tom', 'Jerry')

Tuple with the use of function:
('A', 'k', 'a', 's', 'h')

In [71]:
Tuple1 = (0, 1, 2, 3)
Tuple2 = ('Tom', 'And', 'Bob')

Tuple3 = Tuple1 + Tuple2

# Printing first Tuple
print("Tuple 1: ")
print(Tuple1)

# Printing Second Tuple
print("\nTuple2: ")
print(Tuple2)

# Printing Final Tuple
print("\nTuples after Concatenation: ")
print(Tuple3)

Tuple 1:
(0, 1, 2, 3)

Tuple2:
('Tom', 'And', 'Bob')

Tuples after Concatenation:
(0, 1, 2, 3, 'Tom', 'And', 'Bob')

In [21]:
#Loop
#Create dictionary
Dict = {1: 'Purushottam', 2: 'Keys', 3: 'Gupta'}
print(Dict)
Dict[1]
Dict[3]

{1: 'Purushottam', 2: 'Keys', 3: 'Gupta'}

'Gupta'

In [22]:
#length of dictionary
len(Dict)

3

In [23]:
#Access the values
Dict[1]

'Purushottam'